body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Schwarz */
    color: #f0f0f0;
}

.language-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #000000; /* Schwarz */
}

.language-selection .card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    background: linear-gradient(to bottom, #000000, gray); /* Schwarz zu Grau */
    border: 5px solid white;
    background-clip: padding-box;
    position: relative;
    margin-bottom: 20px;
    animation: glow 2s infinite alternate;
}

.language-selection h1 {
    font-size: 3em;
    color: #f0f0f0;
}

.flags {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flags img {
    width: 150px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.flags img:hover {
    transform: scale(1.1);
}

.title {
    padding-bottom: 10px;
    font-size: 60px;
    color: #ff00ff;text-align: center;
}

@keyframes borderMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #fff;
    }
    to {
        box-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff;
    }
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    background: linear-gradient(to bottom, black, rgb(0, 0, 0));
    border: 5px solid white;
    background-clip: padding-box;
    position: relative;
    margin-bottom: 100px;
    animation: glow 2s infinite alternate;
}

.card::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, transparent 75%, yellow 25%);
    z-index: -1;
    border-radius: 15px;
    background-size: 400% 400%;
    animation: borderMove 5s linear infinite;
    filter: blur(2px);
}

.icons {
    margin-top: 20px;
}

.icons img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.icons img:hover {
    transform: scale(1.2);
}

ul {
    text-align: center;
    padding-left: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.skills {
    margin-top: 20px; padding-bottom: 10px;font-size: 30px;
}

p, h2, h4 {
    margin: 10px 0;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: white;
}

h1, h2, h4 {
    color: #ff00ff;
}

.Willkommen {
    color: rgb(251, 251, 251);
    font-size: 40px;
    font-weight: bold; padding-bottom: 10px;
}

.abc {
    padding-top: 20px;
}

.danke {
    padding-top: 10px; font-size: 24px;
}

.name {
    padding-bottom: 15px;
}

p {
    font-size: 20px;
}

